# Ignore virtual environment
venv/
ENV/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# SQLite database 
*.db

# Environment variables
.env

# VSCode or other editor settings
.vscode/
.idea/

# macOS system files
.DS_Store

# Log files
*.log

# Coverage/test reports
htmlcov/
coverage.xml
*.cover
