# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment variables / secrets
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Virtual environments
venv/
.env/
.venv/

# IDEs/editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Pygame image/sound cache (if you generate any during runtime)
*.log
*.tmp
